<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="Page.cshtml" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="web.config" />
                    <add segment="data" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
